@import 'sass/svg/svg';

$icon-size: 6px;
$icon-padding: 6px;
$icon-opacity: 0.8;

%icon-base {
  background-size: contain;
  width: $icon-size;
  height: $icon-size;
  padding: $icon-padding;
}

/* Back */
%back {
  @extend %icon-base;
  @include icon-back;
}

#back a {
  @extend %back;
}

#back a img {
  visibility: hidden;
}

/* Extended themeselector */
%extended-themeselector {
  @extend %icon-base;
  @include icon-extended-themeselector;
}

#extended-themeselector a {
  @extend %extended-themeselector;
}

#extended-themeselector a img {
  visibility: hidden;
}

/* Dsfilter */
%dsfilter {
  @extend %icon-base;
  @include icon-dsfilter;
}

#dsfilter a {
  @extend %dsfilter;
}

#dsfilter a img {
  visibility: hidden;
}

/* Theme Collapse */
%theme_collapse {
  @extend %icon-base;
  @include icon-theme_collapse;
}

#theme_collapse a {
  @extend %theme_collapse;
}

#theme_collapse a img {
  visibility: hidden;
}

/* Workinglayer remove */
%workinglayer-remove {
  @extend %icon-base;
  @include icon-eraser;
}

#workinglayer-remove a {
  @extend %workinglayer-remove;
}

#workinglayer-remove a img {
  visibility: hidden;
}

/* Forward */
%forward {
  @extend %icon-base;
  @include icon-forward;
}

#forward a {
  @extend %forward;
}

#forward a img {
  visibility: hidden;
}

/* Favorites */
%favorites_save {
  @extend %icon-base;
  @include icon-favorites_save;
}

#favorites_save a {
  @extend %favorites_save;
}

#favorites_save a img {
  visibility: hidden;
}

/* Fullextent */
%fullextent {
  @extend %icon-base;
  @include icon-fullextent;
}

#fullextent a {
  @extend %fullextent;
}

#fullextent a img {
  visibility: hidden;
}

/* Myposition */
%myposition {
  @extend %icon-base;
  @include icon-myposition;
}

#myposition a {
  @extend %myposition;
}

#myposition a img {
  visibility: hidden;
}

/* Eknap */
%eknap {
  @extend %icon-base;
  @include icon-eknap;
}

#eknap a {
  @extend %eknap;
}

#eknap a img {
  visibility: hidden;
}

/* INFO */
%info {
  @extend %icon-base;
  @include icon-info;
}

#info a {
  @extend %info;
}

#info a img {
  visibility: hidden;
}

/* Pan */
%pan {
  @extend %icon-base;
  @include icon-pan;
}

#pan a {
  @extend %pan;
}

#pan a img {
  visibility: hidden;
}

/* Print quick */
/* INFO */
%print_quick {
  @extend %icon-base;
  @include icon-print;
}

#print_quick a {
  @extend %print_quick;
}

#print_quick a img {
  visibility: hidden;
}

/* Reset themes */
%resetthemes {
  @extend %icon-base;
  @include icon-resetthemes;
}

#resetthemes a {
  @extend %resetthemes;
}

#resetthemes a img {
  visibility: hidden;
}

/*Theme Store Setting*/
%theme_store_setting {
  @extend %icon-base;
  @include icon-theme_store_setting;
}

#theme_store_setting a {
  @extend %theme_store_setting;
}

#theme_store_setting a img {
  visibility: hidden;
}

/*zoomin*/
%zoomin {
  @extend %icon-base;
  @include icon-zoomin;
}

#zoomin a {
  @extend %zoomin;
}

#zoomin a img {
  visibility: hidden;
}

%expander {
  width: 7px;
  height: 4px;
  @include icon-expander;
}

.expander.up {
  @extend %expander;
}

.expander.down {
  @extend %expander;
  transform: rotate(180deg);
}

.toolbar-icon a.selected {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

/* *** */
ul.midnav li.statebutton-icon a:hover,
li.statebutton-icon a:hover,
li.toolbar-icon a:hover,
ul.midnav li.toolbar-icon a:hover {
  border-color: transparent;
  visibility: visible;
  background-color: transparent !important;
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

ul.midnav li.statebutton-icon a.selected {
  border-color: transparent;
  visibility: visible;
  background-color: transparent !important;
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

ul.midnav li.statebutton-icon a.selected:hover {
  background-color: transparent;
}

.themes-expander {
  padding-top: 13px;
}

.toolbar-icon,
.toolspacer-icon,
.statebutton-icon {
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 3px;
}

.toolspacer-notxt {
  opacity: 0.6;
  margin-top: 1px;
}

.toolbar-icon a,
.toolspacer-icon a,
.toolspacer-notxt a,
.statebutton-icon a {
  opacity: 0.8;
}

.toolbar-icon a.ui-state-disabled,
.toolspacer-icon a.ui-state-disabled,
.statebutton-icon a.ui-state-disabled {
  opacity: 0.5;
}
