/* --- dropdown menus --- */

.menu > a {
  text-transform: uppercase;
  background-image: none !important;
}

li.menu a {
  color: white !important;
  opacity: 0.6;
  padding-right: 10px !important;
  padding-top: 5px !important;
}

li.toolbar > a:hover,
li.menu > a:hover {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
  border-right: $primary-color !important;
  border-bottom: $primary-color !important;
  opacity: 1;
  margin-bottom: 1px !important;
  margin-top: 0;
  margin-right: 2px !important;
}

.menu .sub {
  margin-top: 9px;
  background-color: $primary-color !important;
  border: none;
  box-shadow: none;
}

.midnav .sub .toolbar a {
  background-color: $primary-color !important;
}

