/* ====== MIDNAV  incl menus ====== */

.midnav {

  margin-top: 5px;
  margin-bottom: 5px;

  li.menu  {

    a {
      span {
        // font-size: 13px;
      }
    }

    ul.sub {
      li.toolspacer-txt {
        a {
          span {
            text-transform: uppercase;
          }
        }
      }
    }

  }

}

.midnav .toolbar a,
.topnav .toolbar a {
  color:white!important;
  opacity:0.6!important;
}

.midnav .toolbar a:hover,
.topnav .toolbar a:hover {
  color:white;
  opacity:1;
}

.toolbar > a:hover {
  //color: $contrast-color!important;
  color: white;
  opacity: 1;

}

.midnav li.menu > a {
  border-color:transparent;
}

.midnav li.menu > ul.sub {
  margin-top: 9px;
  margin-left: 10px;
}

.midnav li.menu > a.selected {
  border-color:transparent!important;
  color:$contrast-color!important;
  opacity:1;
}

ul.midnav li ul.sub li a:hover {
  opacity:1!important;
}

.midnav li.menu > a.selected:hover {
  margin-right:2px!important;
}

ul.midnav li.menu a.selected {
  background: transparent;
}

.menu > a {
  text-transform: uppercase;
  background-image: none !important;
}

li.menu a {
  color: white !important;
  opacity: 0.6;
  padding-right: 10px !important;
  padding-top: 5px !important;
}

li.toolbar a:hover,
li.menu a:hover {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
  border-right: $primary-color !important;
  border-bottom: $primary-color !important;
  opacity: 1;
  margin-bottom: 1px !important;
  margin-top: 0;
  margin-right: 2px !important;
  color: $contrast-color;
}

.menu .sub {
  margin-top: 9px;
  background-color: $secondary-color !important;
  border: none;
  box-shadow: none;
}

.midnav .sub .toolbar a {
  background-color: $secondary-color !important;
  background-image: none!important;
  width: 100% !important;
}

.midnav li ul.sub li a {
  background-color: $secondary-color;
  font-weight: 100;
  opacity: 1;
  border-radius: 0;
}

.midnav li ul.sub {
  border:none!important;
  margin: 3px 0 0 2px;
  background: $secondary-color;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

ul.midnav li ul.sub li.toolspacer-txt a,
{
  background: $secondary-color;
  opacity: 0.8;
}

ul.midnav li ul.sub li.toolspacer-notxt a
{
  background: $secondary-color;
  opacity: 0.8;
  height: 0;
  padding-top: 0!important;
}

ul.midnav li ul.sub li.toolspacer-txt a:hover {
  background: $secondary-color;
  opacity: 0.8;
}

li.menu a.selected {
  color: $contrast-color;
  background: $primary-color;
}

ul.sub li.toolspacer-txt a:hover {
  background: $secondary-color!important;
  margin-bottom: 4px !important;
  border-bottom: 1px solid #ccc!important;
}

ul.midnav li ul.sub li.togglebutton a {
  padding: 4px 8px 4px 24px;
  //background-image: url("../images/states/check.png");
  @include icon-uncheck-white;
  background-repeat: no-repeat;
  background-position: 5px center;
  background-color: $secondary-color;
  opacity: 0.6;
}

ul.midnav li ul.sub li.togglebutton a.toggle_selected {
  padding: 4px 8px 4px 24px;
  //background-image: url("../images/states/check.png");
  @include icon-check-white;
  background-repeat: no-repeat;
  background-position: 5px center;
  background-color: $secondary-color;
  opacity: 0.6;
}

ul.midnav li ul.sub li.togglebutton:hover {
  background-color: $secondary-color;
  opacity: 1;
}
