/* Panel THEMES */

#panel-themes {
  margin-top: -1px;
  margin-left: 0;
  border: 0;
  border-radius: 0;
}

#panel-themes-header {
  background: $primary-color;
  margin-top: 1px !important;
  border: none !important;
  border-radius: 0;
  width: 100%;
}

/* Adapted to 3.12*/
#panel-themes-body {
  position: relative;
  zoom: 1;
  float: left;
  opacity: 1;
  border-left: none;
}

/* #themegrid */

.themegroup {
  margin: 0;
  background: $secondary-color;
}


.themegroupheader {
  background: $secondary-color;
  opacity: 1;
}


.themegroupheader:hover {
  background: $secondary-color-light;
}

.themegroupheader > h4 {
  color: white;
  opacity: 1;
  font-weight: 400;
}

/* A second level themegroupheader */
.themegroupheader.sub {
  margin-left: 0;
  margin-right: 0;
  background: $secondary-color-light;
  border-bottom-color: #fafafa;
}

.themegroupheader.sub > h4 {
  color: black !important;
  padding-left: 3px;
  opacity: 1;
  font-weight: 400;
}

/* .theme */

.theme {
  background-image: none;
  cursor: auto;
  border-bottom: none;
}

.theme:hover {
  background: $secondary-color !important;
}

/* A small theme :) */

.theme.small {
  background: $secondary-color-light !important;
}

// TODO: $secondary-color-light - make lighter
.theme.small:hover {
  background: lighten($secondary-color-light, 10%)
}

.theme.small .txt h4 {
  font-size: 11px;
  margin: 4px 0 0;
  cursor: pointer;
  font-weight: 500;
}

.txt span {
  font-weight: 100;
}

.theme .horiz-spacer {
  float: left;
  border-top: 1px dotted $primary-color;
  border-bottom: none;
  width: 100%;
  margin: 0;
  display: none;
  height: 0;
  padding: 0;
}

.theme.small .right-wrapper {
  width: 43px;
  height: auto;
  right: 0;
  margin-top: 0;
}


.themegroupcontainer .theme.small h4 {
  margin-bottom: 5px;
}

.themes-expander.up {
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent !important;
  border: none;
  opacity: 0.6;
}

.themes-expander.down {
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent !important;
  border: none;
  opacity: 0.6;
}

.themes-expander:hover {
  border-color: transparent !important;
  opacity: 1;
}


.counter.toggle,
.themegroupheader .counter {
  color: white;
}

.counter.toggle:hover {
  background-color: transparent;
  border-color: transparent;
}

.expander.down:hover {
  background-color: transparent;
}

.expander.up:hover {
  background-color: transparent;
}

.theme.small .state, .theme.small .delete, .theme.small .add {
  margin-top: 2px;
}

.on.state {
  background-size: 17px 17px;
  border: none;
  opacity: 1;
}

.off.state {
  background-size: 17px 17px;
  border: none !important;
  opacity: 1;
}

.on.state:hover {
  background-size: 17px 17px;
  border: none;
  opacity: 0.6 !important;
}

.off.state:hover {
  background-size: 17px 17px;
  border: none !important;
  opacity: 0.3 !important;
}

.on.state.lock {
  border: none !important;
  opacity: 1 !important;
}

.off.state.lock {
  border: none !important;
  opacity: 0.3 !important;
}

.gr-loading, .gr-loading:hover {
  background-color: #eee;
  background-image: url("../images/modules/themeselectoractive/gr-loader.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 300px 30px;
}


/* Commented out to solve SPSP-4012 - why present at all?
#basegrid {
    margin-left: -1px;
}
*/

#SpatialMap_Control_SpatialMapPanZoomBar_12 {
  /*   visibility: hidden;*/
}

#themegroup-basemap_tgcontainer > div > div span {
  /*visibility: hidden;*/
}

.themeStoreLabel {
  color: white;
}

.themegroupheader {

  %up {
    @include icon-up;
    width: 7px;
    height: 4px;
    background-size: contain;
    margin-right: 5px;
    margin-top: 9px;
  }

  .expander.up {
    @extend %up;
  }

  .expander.down {
    @extend %up;
    transform: rotate(180deg);
    transform-origin: center center;
  }

}

.themegroup {

  %up-black {
    @include icon-up-black;
    width: 7px;
    height: 4px;
    background-size: contain;
    margin-right: 5px;
    margin-top: 9px;
    filter: invert(30%) sepia(19%) saturate(1311%) hue-rotate(83deg) brightness(97%) contrast(88%);
  }

  /* black to primary */

  .expander.up {
    @extend %up-black;
  }

  .expander.down {
    @extend %up-black;
    transform: rotate(180deg);
    transform-origin: center center;
  }

}

%state-button {
  width: 17px;
  height: 17px;
}

.theme .state.off {
  @extend %state-button;
  @include icon-power-off;
}

.theme .state.on {
  @extend %state-button;
  @include icon-power-on-black;
  filter: invert(30%) sepia(19%) saturate(1311%) hue-rotate(83deg) brightness(97%) contrast(88%);
}
